<div class="servicios">
    <h2>Nuestros Servicios</h2>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Descripción</th>
          </tr>
        </thead>
        <tbody>
          @for(servicio of servicios ; track servicio.servicios){
          <tr>
            <td>{{ servicio.servicios[0] }}</td>
            <td>{{ servicio.servicios[1] }}</td>
            <td>{{ servicio.servicios[2] }}</td>
          </tr>
        }
        </tbody>
      </table>
    </div>
  </div>
  